* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 50%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#folio7 {
    margin-bottom: 70px;
    height: 35px;
}

#empty {
    background-color: white;
    width: 30px;
}

.btn-menu {
    margin-bottom: 70px;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.boxx {
    background-color: #26262b;
    width:100%;
    height: auto;
    position: absolute;
    z-index: 4;
    top: 0;
    display: none;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#folio9 {
    margin: auto;
    width: 70%;
    height: 300px;
    background-color: rgb(48, 48, 48);
}

.btn-cancel {
    color: white;
    margin-bottom: 70px;
    background-color: #26262b;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.box-pic {
    position: relative;
    margin-top: -160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-pic {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.box-icon {
    position: absolute;
    left: 435px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: rgb(243, 52, 52);
    border-radius: 50%;
    color: white;
}

.box-resume {
    position: absolute;
    left: 470px;
    top: 50px;color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.box-main {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}

#box-main-title {
    margin-top: 50px;
    font-size: 40px;
    color: rgb(156, 156, 156);
}

#john {
    color: white;
    font-weight: lighter;
}

#smith {
    color: white;
    font-weight: 900;
}

#box-main-content {
    padding: 10px;
    color: rgb(156, 156, 156);
}

#box-main-contact {
    margin-top: 25px;
    color: rgb(105, 104, 104);
}

#contact-link {
    color: aqua;
}

.box-bar {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.photoshop,
.illustrator,
.css {
    width: 220px;
}

.bar-title,
.bar-rate {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.bar1,
.bar2,
.bar3 {
    width: 200px;
    height: 5px;
    margin: auto;
    background-color: rgb(0, 0, 0);
}

.slide1 {
    width: 180px;
    height: 5px;
    background-color: rgb(186, 3, 147);
}

.slide2 {
    width: 140px;
    height: 5px;
    background-color: rgb(255, 204, 0);
}

.slide3 {
    width: 120px;
    height: 5px;
    background-color: rgb(3, 17, 182);
}

.hline {
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 30px;
}

.box-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.designer,
.specialist,
.director {
    width: 28%;
    color: #f0fcf9;
}

.year {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
}

.topic {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
    padding-top: 4px;
}

#spanline {
    color: rgb(137, 137, 137);
}

#spantext {
    color: aqua;
}

.vline {
    width: 1px;
    height: 150px;
    background-color: rgb(91, 91, 91);
}

.hello{
    margin-top: -110px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#hello-title {
    font-size: 150px;
    color: rgb(67, 67, 67);   
}

.hello-content {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.hello-content p {
    font-size: 10px;
    color: rgb(160, 159, 159);
    line-height: 20px;
}

#folio3 {
    height: 45px;
}

.new {
    margin-top: 100px;
}

.box {
    width: 50%;
    padding-top: 50%;
    float: left;
}

.one {
    background-color: rgb(173, 237, 235);
}

.two {
    background-color: rgb(252, 216, 240);
}

.three {
    background-color: rgb(255, 244, 217);
}

.four {
    background-color: rgb(254, 189, 254);
}

#folio6{
    position: absolute;
    top: 1000px;
    left: 230px;
    width: 30px
}

#folio4 {
    position: absolute;
    top: 660px;
    right: 340px;
    width: 50px
}

#folio5 {
    position: absolute;
    top: 1150px;
    right: 340px;
    width: 50px
}

.page-footer {
    background-color: #f0fcf9;
    position: relative;
    z-index: -1;
    margin-top: 700px;
    height: 780px;
}

.footer-content {
    position: relative;
    margin: auto;
    top: 60px;
    width: 50%;
    text-align: center;
}

#loading {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8em;
    font-size: 13px;
    font-weight: 800;
}

#folio8 {
    height: 200px;
    margin-top: 60px;
}

#number {
    font-family: 'Montserrat', sans-serif;
    color: rgb(77, 77, 77);
    font-weight: 700;
    font-size: 50px;
    margin-top: 50px;
}

#email {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(183, 183, 183);
    margin-top: 20px;
}

.footer-content a {
    text-decoration: none;
    color: rgb(0, 240, 240);
    cursor: pointer;
}

.contact {
    list-style: none;
    margin-top: 40px;
}

.contact li {
    display: inline;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: rgb(77, 77, 77);
}

.contact-border {
    color: #bfbfbf;
}

.footer-line {
    width: 1px;
    height: 50px;
    background-color: rgb(35, 35, 35);
    margin: auto;
    margin-top: 40px;
}
